main.main-contact {
  h1 {
    text-align: center;
    color: $text-primary;
    
    margin-bottom: 48px;

    font-size: 36px;
    font-family: 'Poppins', sans-serif;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    .contact-form {
      width: 100%;
      max-width: 500px;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .wpforms-field-container {
          width: 100%;
          display: grid;
          grid-gap: 10px;
          @include media-breakpoint-up(sm) {
            grid-template-columns: repeat(2, 1fr);
          }
          grid-template-columns: 1fr;
          .wpforms-field {
            label {
              margin-bottom: 16px;
            }
            
            input {
              width: 100%;
            }

            textarea {
              height: 200px;
              resize: none;
            }
    
            &.name-input,
            &.message-textarea {
              @include media-breakpoint-up(sm) {
                grid-column: span 2;
              }
            }
          }
        }

        .submit-button {
          background-color: $primary;
          color: $gray;
          border-radius: 4px;
          opacity: .8;
          transition: .2s;

          &:hover, &:active {
            opacity: 1;
          }
        }
      }
    }
  }
}