main.main-frontpage {
  section.banner {
    height: calc(100vh - 64px);
    overflow: hidden;
    margin: -70px 0 20px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      height: calc(90vh - 184px);

      &.admin-bar {
        height: calc(90vh - 184px - 32px) !important;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  section#jobs-list {
    width: 100%;
    height: 456px;

    display: grid;
    grid-template-columns: repeat(auto-fit, 404px);
    align-items: center;
    justify-content: space-evenly;

    overflow: hidden;
    margin-bottom: 40px;

    &:hover .job{
      &:not(.hover) {
        img {
          filter: grayscale(100%);
        }
      }
    }

    article {
      width: 100%;
      img {
        width: 100%;
        height: 608px;
        object-fit: cover;
      }
    }
  }

  a.see-gallery {
    padding: 0 16px;
    font-size: 24px;
    text-decoration: none;
    position: relative;
    transition: .2s;
    color: $text-primary;
    @include media-breakpoint-up(md) {
      font-size: 32px;
    }

    > i {
      font-size: 24px;
      margin-left: 18px;
    }

    &:after {
      content: '';
      width: 100%;
      height: 1px;

      position: absolute;
      left: 0;
      bottom: 0;

      background-color: $tertiary;
    }

    &:hover {
      color: $primary;
    }
  }

  section#about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    @include media-breakpoint-up(md) {
      margin-top: 122px;
    }

    div.content {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 254px;
        height: 254px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 54px;
      }

      blockquote {
        width: 100%;
        max-width: 500px;

        p {
          font-size: 24px;
          color: $text-secondary;
        }
      }

      p {
        width: 100%;
        max-width: 770px;
        color: $text-primary;
        font-size: 18px;
      }
    }
  }
}