#check-menustate {
  display: none;
}

#check-menustate:checked ~ .mobile-navbar, 
#check-menustate:target ~ .mobile-navbar {
  height: 100%;
}

#check-menustate:checked ~ .mobile-navbar .navbar .toggle div, 
#check-menustate:target ~ .mobile-navbar .navbar .toggle div {
  &:nth-child(1) {
    top: 15px;
    transform: rotate(48deg);
  }

  &:nth-child(2) {
    opacity: 0;
  }

  &:nth-child(3) {
    top: 15px;
    transform: rotate(128deg);
  }
}

.mobile-navbar {
  @include media-breakpoint-up(md) {
    display: none;
  }
  width: 100%;
  height: 64px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #e8e8e8;
  overflow: hidden;
  transition: height .6s ease-in-out;

  div.navbar {
    width: 100%;
    height: 64px;
    margin-bottom: 40px; 
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-content {
      width: 160px;

      a {
        img {
          width: 100%;
        }
      }
    }
    
    #toggle-mobile {
      outline: none;
      cursor: pointer;
      .toggle {
        width: 30px;
        height: 30px;
        position: relative;
        overflow: hidden;
  
        div {
          width: 100%;
          height: 2px;
          display: block;
          background-color: $primary;
          position: absolute;
          left: 0;
          transition: .2s;
  
          &:nth-child(1) {
            top: 4px;
          }
  
          &:nth-child(2) {
            top: 13px;
          }
  
          &:nth-child(3) {
            top: 22px;
          }
        }
      }
    }
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    li {
      & + li {
        a {
          margin-top: 32px;
        }
      }

      a {
        display: block;
        font-size: 18px;
        color: $text-primary;
        text-decoration: none;
        transition: .2s;

        > i {
          font-size: 24px;
        }

        &:active, .active {
          color: $primary;
        }
      }
    }
  }
}